@model IEnumerable<Group12_iCLOTHINGAPP.Models.USERPASSWORD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACCNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENCRYPTPASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSEXPIRYTIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCEXPITYDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACCNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENCRYPTPASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSEXPIRYTIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCEXPITYDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.USERID }) |
            @Html.ActionLink("Details", "Details", new { id=item.USERID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.USERID })
        </td>
    </tr>
}

</table>
