@model IEnumerable<Group12_iCLOTHINGAPP.Models.USERCOMMENTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COMMENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMDESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMDESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COMMENTNO }) |
            @Html.ActionLink("Details", "Details", new { id=item.COMMENTNO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COMMENTNO })
        </td>
    </tr>
}

</table>
