@model IEnumerable<Group12_iCLOTHINGAPP.Models.EMAIL>

@{
    ViewBag.Title = "Index";
}

<h2>Emails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMAILDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAILSUB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAILBODY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMINISTRATOR.ADMINNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMAILDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAILSUB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAILBODY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMINISTRATOR.ADMINNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMAILNO }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMAILNO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMAILNO })
        </td>
    </tr>
}

</table>
