@model Group12_iCLOTHINGAPP.Models.ABOUTUS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ABOUTUS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SHIPPPOLICY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHIPPPOLICY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RETURNPOL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RETURNPOL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTINFO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTINFO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABDESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABDESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMINISTRATOR.ADMINNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMINISTRATOR.ADMINNAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
