@model Group12_iCLOTHINGAPP.Models.ADMINISTRATOR

@{
    ViewBag.Title = "AdminDashboard";
}

<fieldset>
    <legend>Admin Dashboard</legend>

    @if (Session["UserName"] != null)
    {
        <text>Welcome @Session["UserName"].ToString()</text>
        <h1><li>@Html.ActionLink("Add Department", "Create", "DEPARTMENTs")</li></h1>
        <h1><li>@Html.ActionLink("Add Category", "Create", "CATEGORies")</li></h1>
        <h1><li>@Html.ActionLink("Add Brand", "Create", "BRANDs")</li></h1>
        <h1><li>@Html.ActionLink("Add Product", "Create", "PRODUCTs")</li></h1>
        <h1><li>@Html.ActionLink("View User Comments", "Index", "USERCOMMENTS")</li></h1>





    }
</fieldset>

