@model Group12_iCLOTHINGAPP.Models.ADMINISTRATOR

@{
    ViewBag.Title = "AdminDashboard";
}

<fieldset>
    <legend>Admin Dashboard</legend>

    <!DOCTYPE html>
    <html>
    <head>
        <title>iClothing System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .w3-sidebar a {
                font-family: "Roboto", sans-serif
            }

            body, h1, h2, h3, h4, h5, h6, .w3-wide {
                font-family: "Montserrat", sans-serif;
            }

            .button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #000f;
                color: white;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
            }
            .btn-group button {
                background-color: #000f; /* Green background */
                border: 1px solid black; /* Green border */
                color: white; /* White text */
                padding: 10px 24px; /* Some padding */
                cursor: pointer; /* Pointer/hand icon */
                float: left; /* Float the buttons side by side */
            }

                .btn-group button:not(:last-child) {
                    border-right: none; /* Prevent double borders */
                }

            /* Clear floats (clearfix hack) */
            .btn-group:after {
                content: "";
                clear: both;
                display: table;
            }

            /* Add a background color on hover */
            .btn-group button:hover {
                background-color: #808080;
            }
        </style>
    </head>
    <body class="w3-content" style="max-width:1200px">

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">


            <div class="w3-container w3-display-container w3-padding-16">
                <img src="~/Images/Screenshot 2024-04-07 163315.png" style="width:100%">
            </div>

            <div class="gridbox-container" style="font-weight:bold">
                <h4>@Html.ActionLink("Add Department", "Create", "DEPARTMENTs")</h4>
                <h4>@Html.ActionLink("Add Category", "Create", "CATEGORies")</h4>
                <h4>@Html.ActionLink("Add Brand", "Create", "BRANDs")</h4>
                <h4>@Html.ActionLink("Add Product", "Create", "PRODUCTs")</h4>
                <h4>@Html.ActionLink("View User Comments", "Index", "USERCOMMENTS")</h4>
                <h4>@Html.ActionLink("Edit Customers", "Index", "CUSTOMERs")</h4>


            </div>
        </nav>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:250px">

            <!-- Push down content on small screens -->
            <div class="w3-hide-large" style="margin-top:83px"></div>

            <!-- Top header -->
            <header class="w3-container w3-xlarge">
                <div class="btn-group">

                    <button> @Html.ActionLink("Logout", "Index", "Home")</button>

                </div>
            </header>

            <!-- Product grid -->    

            <!-- Footer -->
            <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
                <div class="gridbox-container">
                    <div class="grid-item">

                        <h4>Total Departments : 3 </h4>
                        <h4>Total Categories : 8 </h4>
                        <h4>Total Brands : 16</h4>
                        <h4>Total Products : 32</h4>
                    </div>
                    <div class="grid-item">
                       
                    </div>
            </footer>

            <script>
            // Accordion
            function myAccFunc() {
                var x = document.getElementById("demoAcc");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            // Click on the "Jeans" link on page load to open the accordion for demo purposes
            document.getElementById("myBtn").click();


            // Open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }
            </script>

    </body>
</html>

@if (Session["UserName"] != null)
{

}
</fieldset>

