@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iCLOTHING DATABASE VIEW</h1>
    <p class="lead">Special website designed to view aspects of iCLOHING database system.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "Index", "CUSTOMERs")</h2>
        <p>List of all Customers .</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Password", "Index", "USERPASSWORDs")</h2>
        <p>List of all user passwords.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Administrator", "Index", "ADMINISTRATORs")</h2>
        <p>List of all administrators.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Categories", "Index", "CATEGORies")</h2>
        <p>List of all categories.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "DEPARTMENTs")</h2>
        <p>List of all departments.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Brands", "Index", "BRANDs")</h2>
        <p>List of all brands.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Products", "Index", "PRODUCTs")</h2>
        <p>List of all products.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("ShoppingCart", "Index", "SHOPPINGCARTs")</h2>
        <p>List of all shoppingcarts.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Item Delivery", "Index", "ITEMDELIVERies")</h2>
        <p>List of all categories.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Emails", "Index", "EMAILs")</h2>
        <p>List of all categories.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Order Status", "Index", "ORDERSTATUS")</h2>
        <p>List of all order status.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Comments", "Index", "USERCOMMENTS")</h2>
        <p>List of all user comments.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Queries", "Index", "USERQUERies")</h2>
        <p>List of all user queries.</p>
    </div>

</div>