@model Group12_iCLOTHINGAPP.Models.USERPASSWORD

@{
    ViewBag.Title = "UserDashboard";
}

<fieldset>
    <legend>User Dashboard</legend>

    @if (Session["UserName"] != null)
    {
        <text>Welcome @Session["UserName"].ToString()</text>
    }
    <h1><li>@Html.ActionLink("Departments", "CustomerView", "DEPARTMENTs")</li></h1>
    <h1><li>@Html.ActionLink("Categories", "CustomerView", "CATEGORies")</li></h1>
    <h1><li>@Html.ActionLink("Products", "CustomerView", "PRODUCTs")</li></h1>
    <h1><li>@Html.ActionLink("Shopping Cart", "CustomerView", "SHOPPINGCARTs")</li></h1>




</fieldset>

