@model IEnumerable<Group12_iCLOTHINGAPP.Models.DEPARTMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DEPNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DEPNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DEPID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DEPID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DEPID })
        </td>
    </tr>
}

</table>
