@model Group12_iCLOTHINGAPP.Models.PRODUCT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRAND.BRANDNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRAND.BRANDNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY.CATNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY.CATNAME)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PRODUCTID }) |*@
    @Html.ActionLink("Return", "CustomerView")
</p>
